<div class="flockler-article flockler-article-{{ content.type }}">
  <div class="flockler-posted-date">{{ content.created_time|format_date('custom', 'd M Y H:i') }} </div>
  <a class="flockler-link" href="{{ content.link }}">
    <img class="flockler-image" src="{{ content.image }}" alt="" />
    <div class="flockler-text">
      {{ content.text }}
    </div>
  </a>

  <div class="flockler-profile">
    <a href="{{ content.profile_link }}">{{ content.profile_name }}</a>
    <img class="flockler-profile-image" src="{{ content.profile_image }}" alt="" />
  </div>
</div>
